In [7]:
import pandas as pd

movies = pd.read_csv('movies.csv')
title_rating = movies[['Title', 'Rating']]
title_rating

                       Title  Rating
0    Guardians of the Galaxy     8.1
1                 Prometheus     7.0
2                      Split     7.3
3                       Sing     7.2
4              Suicide Squad     6.2
..                       ...     ...
995     Secret in Their Eyes     6.2
996          Hostel: Part II     5.5
997   Step Up 2: The Streets     6.2
998             Search Party     5.6
999               Nine Lives     5.3

[1000 rows x 2 columns]